body{
    background-image: url(../resources/diagmonds.png);
    color:rgb(255, 255, 255);
    margin: 0px 0px 0px 0px;
    padding: 0 0 0 0;
    
  
}



.profile{
    width: 400px;
    display: inline;
    float: right;
}
.image{
    width: 550px;
    
}

.lyrics{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 10px;
    line-height: 8px;
    text-align: justify;

    padding-left:30px;
    width: 550px;
    float: right;
    text-transform: lowercase;
    
    background:url(../resources/img.png);
    background-size: contain ;
    background-position:center;
    background-repeat: no-repeat;
    -webkit-background-clip:text;
    -webkit-text-fill-color:rgba(255, 255, 255, 0);
    user-select: none;

}

.lyrics:hover{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 10px;
    line-height: 8px;
    text-align: justify;

    padding-left:30px;
    width: 550px;
    display: block;
    float: right;
    text-transform: lowercase;
    
    background:url(../resources/img.png);
    background-size: contain ;
    background-position:center;
    background-repeat: no-repeat;
    -webkit-text-fill-color:rgba(255, 255, 255, 0);
    filter: drop-shadow(0 0 0.6rem rgb(0, 225, 255));
}

header{
    max-width: 65%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
}

.logo{
    width: 80px;
    filter: drop-shadow(0 0 0.9rem rgb(255, 81, 0));
}

nav.navbar{
    font-size: 15px;
    margin: 0;
    display: inline;
    align-items: center;
    float:right;
    display: inline-flex;
    align-items: center;
   
}



a{
    color: #606470;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 22px;
    text-decoration: none;
}
a:hover{
    color: #bebebe;
    filter: drop-shadow(0 0 0.75rem rgb(0, 204, 255));
}

.container{
    max-width: 65%;
    margin-top: 50px;
    margin-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    
}

.container-contents{
    
    width: 700px;   
}

h1.header{
    margin-top: 50px;
    color: #7fd9ff;
    padding-left: 15px;
    font-size: 20px;
    font-family: sans-serif;
    text-transform: uppercase;
    width: 650px;
    
}

p{
    font-size: 20px;
    color: #F7F7F7;
    font-family: sans-serif;
}

.username{
    color: #ecb349;
    display: inline;
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    cursor: pointer;
}

.username:hover{
    box-shadow: inset 265px 0 0 0 #89e9fc;
    color: #d63b2c;
}

.intro-p{
    color: #F7F7F7;
    padding: 0px 0px 0px 15px;
    font-size: 50px;
    font-family: sans-serif;
    text-transform: uppercase;
    width: 650px;
    
}

.short-desc-p{
    color: #606470;
    padding-left: 15px;
    font-size: 25px;
    font-family: sans-serif;
    width: 650px;
    
}

.socials-icon{
    padding-top: 50px;
    width: 650px;
    
}

.fb{
    padding-left: auto;
    font-size: 35px;
}

.ig{
    font-size: 35px;
}

.git{
    font-size: 35px;
}

#about-me{
    width: 1000px;
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    margin-bottom: 300px;
    
}


h1{
    color: #7fd9ff;
    text-transform: uppercase;
    font-family: sans-serif;
}

h2{
    color: #F7F7F7;
    font-size: 20px;
    font-family: sans-serif;
}

.about-me-content{
    padding: 10px 500px 0px 0px;
    padding-left: 15px;
    margin-bottom: 60px;
    color: #F7F7F7;
    font-size: 20px;
    font-family: sans-serif;
}

.course{
    padding-left: 15px;
    font-family: sans-serif;
}

.school{
    padding-left: 15px;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color: #606470;
    text-transform: uppercase;
}

span{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#tech-stack{
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;  
    margin-bottom: 400px;  
    text-align: center;
}

.ts-icons{
    font-size: 100px;
}

#contacts{
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;    
    text-align: center;
    margin-bottom: 430px;
}
.cs{
    font-size: 30px;
}

.email {
    font-size: 20px;
    filter: drop-shadow(0 0 0.75rem rgb(0, 204, 255));
}

footer{
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;   
    justify-content: center;
    text-align: center;
    background-color: #7fd9ffc5;
    font-family: sans-serif;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: normal;
    color: #606470;
}

.rights{
    justify-content: center;
}

.footer-email{
    font-family: sans-serif;
    font-size: 15px;
    text-transform: capitalize;
    color: #606470;
}


